.inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 32px 80px 32px;
}

.form_account {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 72px;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form_detail,
.form_password {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.account_title {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form_item .label {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  color: #6C7275;
}

.form_item .input {
  height: 26px;
  padding: 7px 16px;
  border-radius: 6px;
  border: 1px solid #CBCBCB;
  outline: none;
}

.form_item .input:focus {
  border: 2px solid #000;
}

.form_item .input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6C7275;
}

.form_item .form_item_text {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6C7275;
}

.btn_save {
  max-width: 183px;
  max-height: 52px;
  margin-top: 3px;
  padding: 12px 40px;
  border-radius: 8px;
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #fff;
}

.btn_save:hover {
  box-shadow: 0 4px 12px #000;
}

@media screen and (max-width: 992px) {
  .form_account {
    padding: 0 0 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .form_account {
    padding: 0;
  }
  
  .form_group {
    padding-top: 42px;
  }

  .btn_save {
    margin-top: 0;
  }
}