.inner {
    margin: 0 auto;
    padding-top: 48px;
    padding-left: 160px;
}

/* title */
.product_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1120px;
    margin-bottom: 48px;
}

.product_title .section_title {
    max-width: 20%;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.4px;
}

.product_title .link_title {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1px;
    bottom: 0px;
    height: 26px;
    padding-top: 5px;
    gap: 4px;
    color: #141718;
    border-bottom: 1px solid #141718;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.link_title img {
    width: 20px;
    height: 20px;
}

/* // title */

.swiper {
    width: 100%;
}

.swiper-wrapper {
    box-sizing: border-box;
}

.swiper-wrapper .swiper-slide {
    position: relative;
    display: block;
    width: 20.5%;
    height: auto;
    font-size: 24px;
}

.swiper-slide .product_link {
    display: block;
    position: relative;
    padding-top: 133%;
    margin-bottom: 12px;
}

.swiper-slide .swiper_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.swiper-slide .swiper_img:hover {
    transform: scale(1.05);
}

.swiper-slide .star_rating {
    display: flex;
    gap: 2px;
}

.star_rating .star {
    font-size: 15px;
}

.swiper-slide .product_title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 0;
}

.product_title .product_name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.product_title .product_price {
    margin-top: 3px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.product_price .price_old {
    margin-left: 12px;
    color: rgba(108, 114, 117, 1);
    font-weight: 400;
    text-decoration: line-through;
}

.swiper-slide .badge_group {
    position: absolute;
    top: 16px;
    left: 16px;
}

.badge_group .new_product{
    display: block;
    width: 67px;
    height: 24px;
    padding: 4px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.badge_group .sale_product {
    display: block;
    width: 71px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(56, 203, 137, 1);
    text-align: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.swiper-slide .icon {
    position: absolute;
    top: 15px;
    right: 16px;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.icon .icon_heart {
    vertical-align: middle;
    height: 16px;
}

.swiper-slide .button_card {
    position: absolute;
    left: 50%;
    bottom: 99px;
    transform: translateX(-50%);
    width: 87.78%;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.swiper-slide .button_card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);;
}