html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
}

body,
input,
select,
textarea,
button {
    font-family: "Inter";
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: 0;
    line-height: 0;
    background: transparent;
}

.blind {
    overflow: hidden;
    position: absolute;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    line-height: 1px !important;
    clip: rect(1px, 1px, 1px, 1px);
}
