.inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 16px 32px;
}

span {
  display: inline-block;
}

.icon {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url(../sp_icons.png);
  background-repeat: no-repeat;
  background-size: 226px 51px;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
}

/* Header */
.header .inner {
  display: flex;
  justify-content: space-between;
}

.header_box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo .logo,
.header_logo .logo_link {
  display: inline-flex;
}

.logo_link .logo_img {
  margin-top: 2px;
}

.header_logo .icon_bars {
  display: none;
  background-position: -76px 1px;
  transform: translateY(-2px);
}

.close_btn,
.input_wrap {
  display: none;
}

.header_list {
  display: flex;
  gap: 20px;
}

.header_item_link {
  display: block;
  padding: 5px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #6c7275;
  transition: background 0.3s;
}

.header_item_link:hover {
  font-weight: bold;
  color: #000;
}

/* Header_icon */
.header_icon {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  height: 28px;
  padding-right: 26px;
}

.header_icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.header_icon .icon_search {
  background-position: -1px -1px;
}

.header_icon .icon_user {
  background-position: -26px -1px;
}

.header_icon .icon_bag {
  background-position: -50px -1px;
}

.header_icon .icon_number {
  position: absolute;
  top: 4px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  cursor: default;
}
/* // Header_icon */
/* // Header */

/* Popup Mobile */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 295px;
  padding: 24px;
  background-color: #fff;
  overflow-y: auto;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.header.menu_open .popup {
  opacity: 1;
  transform: translateX(0);
}

.popup_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_logo .logo_link {
  display: inline-block;
  margin-top: 1px;
  margin-left: -3px;
}

.popup_logo .logo_text {
  margin-left: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
}

.popup_logo .logo_text .dot {
  color: rgba(108, 114, 117, 1);
}

.popup_logo .icon_close {
  background-position: -101px -2px;
}

.popup_input {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0 8px 0 15px;
  height: 46px;
  border: 1px solid rgba(108, 114, 117, 1);
  border-radius: 6px;
  box-sizing: border-box;
}

.popup_input .icon_search {
  display: block;
  background-position: -1px -1px;
}

.popup_input .input_search::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(108, 114, 117, 1);
  line-height: 20px;
}

.popup_input .input_search:focus {
  outline: none;
  box-shadow: none;
}

.popup_input:has(.input_search:focus) {
  border: 2px solid #000;
}

.popup_input .input_search {
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.input_search::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.popup_menu_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup_footer .title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid rgba(232, 236, 239, 1);
}

.title_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(108, 114, 117, 1);
  letter-spacing: -0.4px;
  line-height: 31px;
}

.title_icon {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 0;
  bottom: 12px;
}

.title_icon a {
  display: block;
}

.title_icon .icon_bag {
  background-position: -52px -1px;
}

.title_icon .icon_heart {
  background-position: -127px -2px;
}

.title_icon .icon_number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  cursor: default;
}

.popup_button {
  margin-top: 26px;
  margin-bottom: 18px;
}

.popup_button_sign {
  width: 100%;
  height: 53px;
  padding: 10px 20px;
  background-color: #000;
  border-radius: 6px;
  font-family: "Intern", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.popup_footer_icon {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  height: 24px;
}

.icon_instagram {
  background-position: -151px -1px;
}

.icon_facebook {
  background-position: -176px -1px;
}

.icon_youtube {
  background-position: -201px -1px;
}

/* // Popup Mobile */
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.header.menu_open .popup_menu {
  transform: translateX(0);
}

.header.menu_open~.dimmed {
  opacity: 1;
  visibility: visible;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .logo_link .logo_img {
    width: 70px;
    margin-top: 3px;
    margin-left: 4px;
  }

  .header_logo .icon_bars {
    display: block;
    padding: 10px;
  }

  .header_list,
  .header_icon .icon_search,
  .header_icon .user_link {
    display: none;
  }

  .header_icon .icon_number {
    top: 4px;
  }

  .popup {
    display: flex;
    flex-direction: column;
  }
  
  .popup_logo .logo_text {
    font-size: 16px;
    line-height: 24px;
  }

  .popup .header_list {
    display: block;
  }
  
  .popup_menu .header_list {
    margin-top: -8px;
  }
  
  .popup_menu .header_item {
    position: relative;
  }

  .popup_menu .header_item::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(232, 236, 239, 1);
    pointer-events: none;
    content: "";
  }

  .popup_menu .header_item_link {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 16px;
    padding: 8px 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(20, 23, 24, 1);
    line-height: 24px;
  }

  .popup_footer {
    margin-top: auto;
  }
}

@media screen and (max-width: 374px) {
  .popup {
    max-width: none;
    width: 70%;
  }

  .popup_input .icon {
    width: 30px;
    height: 30px;
  }

  .popup_input .icon_search {
    background-position: 3px 3px;
  }
}

@media screen and (max-width: 300px) {
  .inner {
    padding: 16px 10px;
  }
}
/* // Responsive */