.inner {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 clamp(16px, 11.11vw, 160px);
}

span {
    display: inline-block;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo .logo_link {
    color: #000;
}

.header_logo .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../icon.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.header_logo_text {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.header_logo_text span {
    color: gray;
}

.header_logo .icon_bars {
    display: none;
    background-position: -57px 0;
    transform: translateY(-2px);
}

.close_btn,
.input_wrap {
    display: none;
}

.header_menu {
    flex: 1;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header_list.column_mode {
    flex-direction: column;
}

.header_item {
}

.header_item_link {
    padding: 8px 12px;
    color: #6c7275;
    line-height: 1;
    transition: background 0.3s;
    font-family: "Space Grotesk", inherit;
    font-size: 14px;
    font-weight: 500;
}

.header_item_link:hover {
    color: #141718;
}

.header_item:first-child .header_item_link {
    color: #141718;
}

/* Header_icon */

.header_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header_icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.header_icon .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../icon.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.header_icon .icon_search {
    background-position: -2px -1px;
}

.header_icon .icon_user {
    background-position: -28px -1px;
}

.header_icon .icon_bag {
    background-position: -107px -1px;
}

.header_icon .icon_number {
    position: absolute;
    top: 5px;
    right: -24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: default;
}

/* // Header_icon */

/* // Header */

/* Popup Mobile */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.8s ease;
    padding: 20px 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    opacity: 0;
    overflow-y: auto;
    z-index: 1000;
}

.popup.active {
    transform: translateX(0);
    opacity: 1;
}

.popup_header {
    margin-top: 5px;
}

.popup_header .icon,
.popup_footer .icon {
    width: 24px;
    height: 24px;
    margin-left: 17px;
    cursor: pointer;
    background-image: url("../icon.png");
    background-repeat: no-repeat;
}

.popup_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4px;
    margin-bottom: 3px;
}

.popup_logo .logo_link {
    display: inline-block;
}

.popup_logo .popup_logo_text {
    color: #494848;
    font-size: 16px;
}

.popup_logo .icon_close {
    position: absolute;
    top: 22px;
    right: 25px;
    background-position: -80px 0;
}

.icon_close:hover {
    color: red;
}

.popup_input {
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 46px;
    border: 1px solid #494848;
    border-radius: 6px;
}

.popup_input .icon_search {
    display: block;
    padding-right: 20px;
}

.popup_input .input_search {
    width: 85%;
    height: 46px;
    margin-left: 6px;
    padding: 0 12px;
}

.input_search::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.popup_menu {
}

.popup_menu_list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.popup_menu_item {
    border-bottom: 1px solid #c5c1c1;
}

.popup_footer {
}

.popup_footer .title {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
    border-bottom: 1px solid #9c9c9c;
}

.title_text {
    color: #9c9c9c;
    font-size: 20px;
}

.title_icon {
    position: absolute;
    bottom: 10px;
    right: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.title_icon a {
    display: block;
}

.title_icon .icon_bag {
    margin-left: 0;
    background-position: -107px -1px;
}

.title_icon .icon_heart {
    margin-left: 0;
    background-position: -132px 0;
}

.title_icon .icon_number {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: default;
}

.popup_button {
    margin-top: 30px;
    margin-bottom: 23px;
}

.popup_button_sign {
    width: 295px;
    height: 52px;
    padding: 10px 25px;
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    font-family: "Intern", sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.popup_footer_icon {
    display: flex;
    justify-content: flex-start;
    height: 24px;
    gap: 24px;
}

.popup_footer_icon a {
    height: 24px;
}

.popup_footer_icon .icon {
    margin: 0;
    line-height: 24px;
}

.popup_footer_icon span {
    display: block;
}

.icon_instagram {
    background-position: -186px -1px;
}

.icon_facebook {
    background-position: -160px -1px;
}

.icon_youtube {
    background-position: -212px -1px;
}
/* // Popup Mobile */

.dimed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.header.menu-open .popup-menu {
    transform: translateX(0);
}

.header.menu-open .dimed {
    opacity: 1;
    visibility: visible;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .header_logo .icon_bars {
        display: inline-block;
    }

    .header_logo_text {
        font-size: 16px;
    }

    .header_list,
    .header_icon .icon_search,
    .header_icon .user {
        display: none;
    }

    /* Popup */
    .popup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popup .popup_header .popup_menu .header_list {
        display: block;
    }

    .popup_menu .header_list .header_item:hover {
        width: 100%;
    }

    .popup_menu .header_item .header_item_link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
}

/* // Responsive */
