.footer {
  background-color: black;
}

/* Footer top */
.footer_top {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.footer_brand {
  flex-grow: 0.76;
}

.footer_brand .footer_text {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-top: 25px;
}

.footer_text .text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(254, 254, 254, 1);
}

.social_icon {
  display: flex;
  gap: 24px;
  margin-top: 31px;
}

.footer_nav {
  width: 160px;
}

.footer_nav .nav_title {
  display: flex;
  padding-top: 1px;
  padding-left: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.nav_link {
  width: 100%;
}

.nav_link .nav_menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav_menu .menu_item {
  margin-top: 16px;
}


.nav_link .menu_item .link_item {
  display: inline-block;
  padding: 4px 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}

.menu_item .link_item:hover {
  text-decoration: underline;
}

.footer_address {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer_address .address_title {
  padding-top: 1px;
  padding-left: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.footer_address .address_detail {
  display: flex;
  flex-direction: column;
}

.footer_address .text,
.footer_address .phone {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.footer_address .phone {
  margin-top: 15px;
  line-height: 22px;
}
/* // Footer top */

/* Footer bottom */
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 58px;
  padding: 32px 0;
  border-top: 1px solid #6c7275;
}

.footer_bottom .bottom_text {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.bottom_text .copyright {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #e8ecef;
}

.bottom_text .privacy {
  display: flex;
  gap: 16px;
  padding-top: 2px;
  padding-left: 16px;
  border-left: 1px solid #6c7275;
}

.privacy .privacy_text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #6c7275;
}

.payment_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.payment_list .payment_link {
  display: inline-block;
}

.payment_list .payment_img {
  width: 48px;
  height: 32px;
  object-fit: cover;
  vertical-align: bottom;
}
/* // Footer bottom */

/* Responsive */
@media screen and (max-width: 913px) {
  .footer_text .text {
    font-size: 18px;
  }

  .footer_bottom .bottom_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom_text .privacy {
    padding-left: 0;
    border-left: none;
  }
}

@media screen and (max-width: 670px) {
  .inner {
    max-width: none;
    padding: 64px 32px 24px 32px;
  }

  .footer_top {
    flex-direction: column;
    margin-right: 0;
  }

  .footer_top .footer_brand {
    padding-bottom: 32px;
  }

  .footer_top .footer_text {
    display: block;
    max-width: none;
    margin-top: 25px;
  }

  .footer_top .footer_text .text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(254, 254, 254, 1);
  }

  .footer_text .line_break {
    display: none;
  }

  .footer_top .footer_nav {
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid #6c7275;
  }

  .footer_top .nav_title {
    position: relative;
    display: block;
    padding-left: 0;
    cursor: pointer;
  }

  .footer_nav .nav_title::after {
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    background-image: url(../images/sp_icons.png);
    background-repeat: no-repeat;
    background-size: 226px 51px;
    background-position: -76px -26px;
    transition: transform 0.5s ease;
    content: '';
  }

  .footer_nav .nav_title.rotated::after {
    transform: rotate(180deg);
  }

  .footer_nav .nav_menu {
    width: 100%;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease;
  }

  /* Open-Close nav menu */
  .footer_nav .nav_menu.is_show {
    max-height: 250px;
    overflow: visible;
  }

  .nav_link .menu_item .link_item {
    display: block;
    padding: 4px 0;
  }

  .footer_address {
    gap: 18px;
    margin-top: -4px;
    padding: 32px 0;
    border-top: 1px solid rgba(108, 114, 117, 1);
  }

  .footer_address .address_title {
    cursor: default;
  }

  .footer_bottom {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 32px;
  }

  .footer_bottom .bottom_text {
    flex-direction: column-reverse;
    margin-top: 25px;
  }

  .bottom_text .copyright {
    margin-top: 2px;
  }

  .bottom_text .privacy {
    padding: 0;
    gap: 8px;
  }

  .privacy .privacy_text {
    padding: 10px;
    padding-top: 7px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(254, 254, 254, 1);
  }

  .footer_bottom .payment_list {
    justify-content: center;
    gap: 4.6px;
    width: 100%;
    margin-top: -9px;
  }
}
/* // Responsive */