.articles .inner {
  max-width: 1121px;
  margin: 0 auto;
  padding: 80px 32px;
}

.articles_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles_logo .logo_link .logo {
  color: rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.articles_logo .link_detail {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(20, 23, 24, 1);
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.button_link .link_detail:hover {
  font-weight: bold;
}

.articles_list {
  margin-top: 40px;
  width: 100%;
}

.articles_list .articles_card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.articles_list .articles_card .card_item {
  width: calc(33.333% - 17px);
  box-sizing: border-box;
}

.articles_card .card_link {
  display: block;
  position: relative;
  padding-top: 91.0364%;
}


.articles_list .articles_card .img_articles {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.articles_card .card_link .img_articles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles_list .card_link .img_articles:hover {
  transform: scale(1.05);
}

.articles_list .articles_title {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 8px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.articles_list .articles_link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
  border-bottom: 1px solid #141718;
  color: #141718;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
}

/* responsive */
@media screen and (max-width: 1188px) {
  .articles .inner {
    max-width: 1121px;
    margin: 0 auto;
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .articles_list .articles_card .card_item {
    width: calc(50% - 17px);
  }
}

@media screen and (max-width: 412px) {
  .articles_list .articles_card .card_item {
    width: 100%;
  }

  .articles_logo .logo_link .logo {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }

  .articles_logo .link_detail {
    font-size: 14px;
    line-height: 24px;
  }

  .articles_list .articles_card {
    width: 100%;
    gap: 23px;
  }

  .articles_card .articles_title {
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
  }

  .articles_card .articles_link {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    gap: 1px;
  }
}