.blog .inner {
  max-width: 1121px;
  margin: 0 auto;
  padding: 80px 32px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/sp_icons.png);
  background-repeat: no-repeat;
  background-size: 226px 51px;
}

.icon_arrow_right {
  background-position: -98px -26px;
}

/* Blog header */
.blog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog_header .blog_heading {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.4px;
}

.more_link {
  display: inline-flex;
  align-items: center;
  max-width: 122px;
  max-height: 28px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(20, 23, 24, 1);
  letter-spacing: -0.4px;
  box-sizing: border-box;
}
/* // Blog header */

/* Blog list */
.blog_list {
  margin-top: 40px;
  width: 100%;
}

.blog_list .blog_card {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card_item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 50px) / 3);
}

.card_item .card_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_link .blog_img_wrap {
  position: relative;
  margin: 0;
  padding-top: 91.1215%;
}

.card_link .img_blog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.card_link .img_blog:hover {
  transform: scale(1.05);
}

.blog_link {
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog_link .blog_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  color: rgba(35, 38, 47, 1);
}

.blog_list .more_link {
  max-width: 103px;
  margin-top: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
}
/* // Blog list */

/* Responsive */
@media screen and (max-width: 768px) {
  .card_item {
    width: calc((100% - 25px) / 2);
  }

  .blog_link .blog_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .blog .inner {
    padding: 40px 32px;
  }

  .icon {
    width: 21px;
    height: 21px;
    margin-left: 2px;
  }

  .icon_arrow_right {
    background-position: -98px -27px;
  }

  .blog_list .blog_card {
    gap: 23px;
  }

  .card_item {
    width: 100%;
  }

  .blog_link {
    margin-top: 16px;
  }

  .blog_link .blog_title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }

  .blog_header .blog_heading {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }

  .blog_header .more_link {
    width: auto;
    margin-top: 13px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .blog_header .more_link .icon {
    background-position: -100px -27px;
  }

  .blog_list .more_link {
    width: auto;
    font-size: 14px;
    line-height: 24px;
  }

  .blog_list .more_link .icon {
    background-position: -99px -28px;
  }
}
/* // Responsive */